/* body {
    background-color: green;
} */

/* * {
    background-color: yellow;
} */


/* h1, p {
    color: blue;
}

h3 {
    color: pink;
} */

/* p {
    color: blue;
} */


.xyz {
    color: brown;
}


#para{
    color: chartreuse;
}