body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLptOjOJenqt7Bz6qsECtviNs6J1SylWar3w&s);    
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover; */
  background: #2edfe6;
  background: radial-gradient(
    circle,
    rgba(46, 223, 230, 1) 5%,
    rgba(219, 224, 125, 1) 28%,
    rgba(193, 193, 219, 1) 61%,
    rgba(67, 129, 204, 1) 92%
  );
}
